<nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
    <script>
        var navbarStyle = localStorage.getItem("navbarStyle");
        if (navbarStyle && navbarStyle !== 'transparent') {
            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
        }
    </script>
    <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">

            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

        </div><a class="navbar-brand" href="index.html">
            <div class="d-flex align-items-center py-3">
                <img class="me-2" src="assets/img/icons/spot-illustrations/falcon.png" alt="" width="40" /><span class="font-sans-serif text-primary">falcon</span>
            </div>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content scrollbar">
            <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                <li class="nav-item">
                    <!-- parent pages Dashboard-->
                    <a class="nav-link dropdown-indicator" href="#dashboard" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="dashboard">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text ps-1">Dashboard</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="dashboard">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Default</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard/analytics.html">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Analytics</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard/crm.html">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">CRM</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search_example">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Search Example</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard/lms.html">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">LMS</span><span class="badge rounded-pill ms-2 badge-subtle-success">New</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard/project-management.html">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Management</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard/saas.html">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">SaaS</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard/support-desk.html">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Support desk</span><span class="badge rounded-pill ms-2 badge-subtle-success">New</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <!-- parent pages Sales--><a class="nav-link dropdown-indicator" href="#i-sale" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-sale">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-graduation-cap"></span></span><span class="nav-link-text ps-1">Sales</span><span class="badge rounded-pill ms-2 badge-subtle-success">New</span>
                        </div>
                    </a>
                    @* <ul class="nav collapse show" id="i-sale"> for auto expand menu*@
                    <ul class="nav collapse" id="i-sale">

                        <li class="nav-item">
                            <a class="nav-link" href="create_invoice">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Sales Point</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="invoice_details">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Invoice Details</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="purchase_list">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Purchase List</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="stock_infu">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Stock Info</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Daily Sale</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ChartJs/Index">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Daily Income</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="order">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Sales/Invoice List</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Sales Return</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Sales Order</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Due Sales</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <!-- parent pages purchase-->
                    <a class="nav-link dropdown-indicator" href="#i-purchase" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-purchase">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-baby-carriage"></span></span><span class="nav-link-text ps-1">Purchase</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-purchase">


                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">New Purchase</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Daily Purchase</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Daily Purchase Expanse</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Purchase/Invoice List</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Purchase Returns</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Purchase order</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Due Purchases</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <!-- parent pages Stock-->
                    <a class="nav-link dropdown-indicator" href="#i-stock" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-stock">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-donate"></span></span><span class="nav-link-text ps-1">Stock</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-stock">


                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Stock Info</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Alarming Info</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Add Items</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Remove Items</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>



                    </ul>
                </li>
                <li class="nav-item">
                    <!-- parent pages Quatation-->
                    <a class="nav-link dropdown-indicator" href="#i-Quatation" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-Quatation">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-quote-right"></span></span><span class="nav-link-text ps-1">Quatation</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-Quatation">


                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">New Quatation</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Quatation List</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <!-- parent pages Repair--><a class="nav-link dropdown-indicator" href="#i-Repair" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-Repair">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-tools"></span></span><span class="nav-link-text ps-1">Repair</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-Repair">


                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">New Repair Request</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Repair Summary</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <!-- parent pages Product-->
                    <a class="nav-link dropdown-indicator" href="#i-Products" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-Products">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-hand-holding-heart"></span></span><span class="nav-link-text ps-1">Products</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-Products">


                        <li class="nav-item">
                            <a class="nav-link" href="product_info">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Product Info</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="product_entry">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Add Product</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="product_serialnumbers">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Product Serial List</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Bulk Product Entry</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="Product_Category">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Product Categories</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productSubCategory">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Product Sub Categories</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Product_size">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Product Size</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="unit">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Units</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Damage Products</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Total Price & quantity</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <!-- parent pages Customer-->
                    <a class="nav-link dropdown-indicator" href="#i-Customer" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-Customer">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-users"></span></span><span class="nav-link-text ps-1">Customers</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-Customer">


                        <li class="nav-item">
                            <a class="nav-link" href="customer_info">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Customer Info</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="customer_entry">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">New Customer</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="customer_due">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Customer Due Details</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Customer Ledger</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <!-- parent pages supplier-->
                    <a class="nav-link dropdown-indicator" href="#i-supplier" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-supplier">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-truck"></span></span><span class="nav-link-text ps-1">Supplier</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-supplier">
                        <li class="nav-item">
                            <a class="nav-link" href="supplier_info">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Supplier Info</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="add_suppiler">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">New Supplier</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1"> Supplier Ledger</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <!-- parent pages User-management--><a class="nav-link dropdown-indicator" href="#i-User-management" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-User-management">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-graduation-cap"></span></span><span class="nav-link-text ps-1">User Management</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-User-management">
                        <li class="nav-item">
                            <a class="nav-link" href="UserInfo">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">User Info</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="add_user">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">New User</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Menu Management</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </li>
                @* <li class="nav-item">
                <a class="nav-link dropdown-indicator" href="#i-Employee" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-Employee">
                <div class="d-flex align-items-center">
                <span class="nav-link-icon"><span class="fas fa-graduation-cap"></span></span><span class="nav-link-text ps-1">Employee</span>
                </div>
                </a>
                <ul class="nav collapse" id="i-Employee">
                <li class="nav-item">
                <a class="nav-link" href="#">
                <div class="d-flex align-items-center">
                <span class="nav-link-text ps-1">Employee Info</span>
                </div>
                </a>

                </li>
                <li class="nav-item">
                <a class="nav-link" href="add_employee">
                <div class="d-flex align-items-center">
                <span class="nav-link-text ps-1">New Employee</span>
                </div>
                </a>
                <!-- more inner pages-->
                </li>
                </ul>
                </li> *@
                <li class="nav-item">
                    <!-- parent pages Transfer_receive--><a class="nav-link dropdown-indicator" href="#i-Transfer_receive" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-Transfer_receive">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-graduation-cap"></span></span><span class="nav-link-text ps-1">Transfer & Received</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-Transfer_receive">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Product send</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Product Sending List</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Product Receiving List</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <!-- parent pages accounts--><a class="nav-link dropdown-indicator" href="#i-accounts" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-accounts">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-user-circle"></span></span><span class="nav-link-text ps-1">Accounts</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-accounts">

                        <li class="nav-item">
                            <a class="nav-link" href="accounts_head">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Accounts Head</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="daily_expui">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Accounts Daily Expense</span>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Accounts Ledger</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Accounts Chart</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Receiveable Due</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Payable Due</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>



                    </ul>
                </li>

                <li class="nav-item">
                    <!-- parent pages Settings-->
                    <a class="nav-link dropdown-indicator" href="#i-Settings" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-Settings">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-cog"></span></span><span class="nav-link-text ps-1">Settings</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-Settings">


                        <li class="nav-item">
                            <a class="nav-link" href="/color">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Color</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/currency">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Currency</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/brand_info">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Brands</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/shipping_by">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Shipping By</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/companybrancentry">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Branch Profile</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/companybranchInfo">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Branch Info</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="location">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Location</span>
                                </div>
                            </a>

                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="promoOrCuppon_code">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Promo Or Cuppon</span>
                                </div>
                            </a>

                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="PromoOrCupponInfu">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Promo Or Cuppon Info</span>
                                </div>
                            </a>

                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="promo_cupponCodeEntryv2">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Promo Or Cuppon V2</span>
                                </div>
                            </a>

                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="wareHouse">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Warehouse</span>
                                </div>
                            </a>

                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="warehouse_entryV2">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Warehouse Entry</span>
                                </div>
                            </a>

                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="warehouse_info">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Warehouse info</span>
                                </div>
                            </a>

                            <!-- more inner pages-->
                        </li>


                    </ul>
                </li>
                <li class="nav-item">
                    <!-- parent pages Developer Option-->
                    <a class="nav-link dropdown-indicator" href="#i-Developer" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-Developer">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-cog"></span></span><span class="nav-link-text ps-1">Developer</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-Developer">


                        <li class="nav-item">
                            <a class="nav-link" href="/billing_plan">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Billing Plan</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/businessTypes">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Business Types</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/country">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Country</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/basic_permission">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Column Permission</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="page_details">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Page Details</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/email_setup">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Email Setup</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sms_setting">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Sms Setting</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/invoice_type">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Invoice Type</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/language">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Language</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/status_setting">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Status Settings</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>



                        <li class="nav-item">
                            <a class="nav-link" href="/role">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Role</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/payment_types">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Payment Types</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"
                            <a class="nav-link" href="/company_info">
                                <div class="d-flex align-items-center">
                                     <span class="nav-link-text ps-1">Company Info</span>
                                </div>
                            </a>
                               <!-- more inner pages-->
                        </li>



                    </ul>
                </li>
                <li class="nav-item">
                    <!-- parent pages Report--><a class="nav-link dropdown-indicator" href="#i-Report" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="i-Report">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="far fa-file-alt"></span></span><span class="nav-link-text ps-1">Report</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="i-Report">


                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Report page Add Here</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>



                    </ul>
                </li>

                <li class="nav-item">
                    <!-- parent pages Practice-->
                    <a class="nav-link dropdown-indicator" href="#practice" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="practice">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fab fa-chrome"></span></span><span class="nav-link-text ps-1">Practice</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="practice">


                        <li class="nav-item">
                            <a class="nav-link" href="/product_category_info">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Product category info</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>



                        <li class="nav-item">
                            <a class="nav-link" href="/unsoleved_ticket">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Unsoleved ticket</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new_message">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">New message</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new_experience">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">New experience</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>



                        <li class="nav-item">
                            <a class="nav-link" href="/order">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">order Crud Demo</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <!-- label-->
                    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                        <div class="col-auto navbar-vertical-label">
                            App
                        </div>
                        <div class="col ps-0">
                            <hr class="mb-0 navbar-vertical-divider" />
                        </div>
                    </div>
                    @* <a class="nav-link" href="chalender-app" role="button">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-calendar-alt"></span></span><span class="nav-link-text ps-1">Calendar</span>
                    </div>
                    </a> *@
                    <!-- parent pages--><a class="nav-link" href="chat_inbox" role="button">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-comments"></span></span><span class="nav-link-text ps-1">Chat</span>
                        </div>
                    </a>



                    <!-- parent pages--><a class="nav-link dropdown-indicator" href="#e-commerce" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="e-commerce">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-shopping-cart"></span></span><span class="nav-link-text ps-1">E commerce</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="e-commerce">
                        <li class="nav-item">
                            <a class="nav-link dropdown-indicator" href="#product" data-bs-toggle="collapse" aria-expanded="false" aria-controls="e-commerce">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Product</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" href="/product_list">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Product list</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/product_grid">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Product grid</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/product_details">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Product details</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/add_product">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">dfduct</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-indicator" href="#orders" data-bs-toggle="collapse" aria-expanded="false" aria-controls="e-commerce">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Orders</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                            <ul class="nav collapse" id="orders">
                                <li class="nav-item">
                                    <a class="nav-link" href="/order_list">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Order list</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/order_details">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Order details</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/customer">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Customers</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/customer_details">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Customer details</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopping_cart">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Shopping cart</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/checkout">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Checkout</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="billing">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Billing</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/invoice">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Invoice</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                    <!-- parent pages--><a class="nav-link dropdown-indicator" href="#e-learning" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="e-learning">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-graduation-cap"></span></span><span class="nav-link-text ps-1">E learning</span><span class="badge rounded-pill ms-2 badge-subtle-success">New</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="e-learning">


                        <li class="nav-item">
                            <a class="nav-link" href="trainer_profile">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Trainer profile</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>

                    <!-- parent pages--><a class="nav-link dropdown-indicator" href="#social" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="social">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-share-alt"></span></span><span class="nav-link-text ps-1">Social</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="social">

                        <li class="nav-item">
                            <a class="nav-link" href="feeds">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Feeds</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="activity_log">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Activity log</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>


                    </ul>


                </li>
                <li class="nav-item">
                    <!-- label-->
                    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                        <div class="col-auto navbar-vertical-label">
                            Pages
                        </div>
                        <div class="col ps-0">
                            <hr class="mb-0 navbar-vertical-divider" />
                        </div>
                    </div>
                    <!-- parent pages--><a class="nav-link" href="starter_page" role="button">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-flag"></span></span><span class="nav-link-text ps-1">Starter</span>
                        </div>
                    </a>
                    <!-- parent pages--><a class="nav-link" href="website" role="button">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-globe"></span></span><span class="nav-link-text ps-1">website</span>
                        </div>
                    </a>
                    <!-- parent pages--><a class="nav-link dropdown-indicator" href="#authentication" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="authentication">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-lock"></span></span><span class="nav-link-text ps-1">Authentication</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="authentication">

                        <li class="nav-item">
                            <a class="nav-link dropdown-indicator" href="#card" data-bs-toggle="collapse" aria-expanded="false" aria-controls="authentication">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Card</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                            <ul class="nav collapse" id="card">
                                <li class="nav-item">
                                    <a class="nav-link" href="login">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Login</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="log_out">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Logout</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="registration">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Register</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="forget_password">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Forgot password</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="confirm_mail">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Confirm mail</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="reset_password">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Reset password</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="lock_screen">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Lock screen</span>
                                        </div>
                                    </a>
                                    <!-- more inner pages-->
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <!-- parent pages--><a class="nav-link dropdown-indicator" href="#user" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="user">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-user"></span></span><span class="nav-link-text ps-1">User</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="user">
                        <li class="nav-item">
                            <a class="nav-link" href="profile">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Profile</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>

                    <!-- parent pages--><a class="nav-link dropdown-indicator" href="#pricing" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="pricing">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-tags"></span></span><span class="nav-link-text ps-1">Pricing</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="pricing">
                        <li class="nav-item">
                            <a class="nav-link" href="pricing_default">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Pricing default</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                    </ul>
                    <!-- parent pages--><a class="nav-link dropdown-indicator" href="#faq" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="faq">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-question-circle"></span></span><span class="nav-link-text ps-1">Faq</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="faq">
                        <li class="nav-item">
                            <a class="nav-link" href="FaQ">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Faq basic</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>

                    </ul>
                    <!-- parent pages--><a class="nav-link dropdown-indicator" href="#errors" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="errors">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-exclamation-triangle"></span></span><span class="nav-link-text ps-1">Errors</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="errors">
                        <li class="nav-item">
                            <a class="nav-link" href="error_one">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">404</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="error_two">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">500</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                    <!-- parent pages--><a class="nav-link dropdown-indicator" href="#miscellaneous" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="miscellaneous">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-thumbtack"></span></span><span class="nav-link-text ps-1">Miscellaneous</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="miscellaneous">
                        <li class="nav-item">
                            <a class="nav-link" href="associations_page">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Associations</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="invite_people">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Invite people</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="privacy_policy">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Privacy policy</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>

                </li>
                <li class="nav-item">
                    <!-- label-->
                    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                        <div class="col-auto navbar-vertical-label">
                            Modules
                        </div>
                        <div class="col ps-0">
                            <hr class="mb-0 navbar-vertical-divider" />
                        </div>
                    </div>


                    <!-- parent pages--><a class="nav-link dropdown-indicator" href="#charts" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="charts">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-chart-line"></span></span><span class="nav-link-text ps-1">Charts</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="charts">
                        <li class="nav-item">
                            <a class="nav-link" href="chart_Js">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Chartjs</span>
                                </div>
                            </a>
                            <!-- more inner pages-->
                        </li>


                    </ul>


                </li>
                <li class="nav-item">
                    <!-- label-->
                    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                        <div class="col-auto navbar-vertical-label">
                            Documentation
                        </div>
                        <div class="col ps-0">
                            <hr class="mb-0 navbar-vertical-divider" />
                        </div>
                    </div>
                    <!-- parent pages--><a class="nav-link" href="documentation/getting-started.html" role="button">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-rocket"></span></span><span class="nav-link-text ps-1">Getting started</span>
                        </div>
                    </a>

                </li>
            </ul>
            <div class="settings mb-3">
                <div class="card shadow-none">
                    <div class="card-body alert mb-0" role="alert">
                        <div class="btn-close-falcon-container">
                            <button class="btn btn-link btn-close-falcon p-0" aria-label="Close" data-bs-dismiss="alert"></button>
                        </div>
                        <div class="text-center">
                            <img src="assets/img/icons/spot-illustrations/navbar-vertical.png" alt="" width="80" />
                            <p class="fs-11 mt-2">Loving what you see? <br />Get your copy of <a href="#!">#</a></p>
                            <div class="d-grid"><a class="btn btn-sm btn-primary" href="#" target="_blank">Purchase</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>