
<div class="content">

    <div class="card mb-3">
        <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../../assets/img/icons/spot-illustrations/corner-4.png);">
        </div>
        <!--/.bg-holder-->


    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="mb-0">Javascript</h5>
        </div>
        <div class="card-body bg-body-tertiary">
            <pre class="scrollbar mt-2"><code class="language-html">&lt;script src=&quot;vendors/chart/chart.min.js&quot;&gt;&lt;/script&gt;</code></pre>
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto align-self-center">
                            <h5 class="mb-0" data-anchor="data-anchor">Bar Chart</h5>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-a8d5ff17-47df-46e5-b70f-d5954bd06b71" type="button" role="tab" aria-controls="dom-a8d5ff17-47df-46e5-b70f-d5954bd06b71" aria-selected="true" id="tab-dom-a8d5ff17-47df-46e5-b70f-d5954bd06b71">Preview</button>
                                <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-82847883-1454-413e-9c2a-2471b745f158" type="button" role="tab" aria-controls="dom-82847883-1454-413e-9c2a-2471b745f158" aria-selected="false" id="tab-dom-82847883-1454-413e-9c2a-2471b745f158">Code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-body-tertiary">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-a8d5ff17-47df-46e5-b70f-d5954bd06b71" id="dom-a8d5ff17-47df-46e5-b70f-d5954bd06b71">
                            <!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-bar.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <canvas class="max-w-100" id="chartjs-bar-chart" width="1618" height="1000"></canvas>
                        </div>
                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-82847883-1454-413e-9c2a-2471b745f158" id="dom-82847883-1454-413e-9c2a-2471b745f158">
                            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-bar.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js--&gt;
&lt;canvas class=&quot;max-w-100&quot; id=&quot;chartjs-bar-chart&quot; width=&quot;1618&quot; height=&quot;1000&quot;&gt;&lt;/canvas&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto align-self-center">
                            <h5 class="mb-0" data-anchor="data-anchor">Line Chart</h5>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-74601d1c-9888-4906-9972-1a4a8a5fb37e" type="button" role="tab" aria-controls="dom-74601d1c-9888-4906-9972-1a4a8a5fb37e" aria-selected="true" id="tab-dom-74601d1c-9888-4906-9972-1a4a8a5fb37e">Preview</button>
                                <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-d4147680-4a3a-4a4e-8e69-c32ca21cd7c1" type="button" role="tab" aria-controls="dom-d4147680-4a3a-4a4e-8e69-c32ca21cd7c1" aria-selected="false" id="tab-dom-d4147680-4a3a-4a4e-8e69-c32ca21cd7c1">Code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-body-tertiary">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-74601d1c-9888-4906-9972-1a4a8a5fb37e" id="dom-74601d1c-9888-4906-9972-1a4a8a5fb37e">
                            <!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-line.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <canvas class="max-w-100" id="chartjs-line-chart" width="1618" height="1000"></canvas>
                        </div>
                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-d4147680-4a3a-4a4e-8e69-c32ca21cd7c1" id="dom-d4147680-4a3a-4a4e-8e69-c32ca21cd7c1">
                            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-line.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js--&gt;
&lt;canvas class=&quot;max-w-100&quot; id=&quot;chartjs-line-chart&quot; width=&quot;1618&quot; height=&quot;1000&quot;&gt;&lt;/canvas&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto align-self-center">
                            <h5 class="mb-0" data-anchor="data-anchor">Doughnut Chart</h5>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-019148f5-d22e-43e9-b4df-d8f845a5a7b2" type="button" role="tab" aria-controls="dom-019148f5-d22e-43e9-b4df-d8f845a5a7b2" aria-selected="true" id="tab-dom-019148f5-d22e-43e9-b4df-d8f845a5a7b2">Preview</button>
                                <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-80a6b158-02de-4470-acff-8ec232bed041" type="button" role="tab" aria-controls="dom-80a6b158-02de-4470-acff-8ec232bed041" aria-selected="false" id="tab-dom-80a6b158-02de-4470-acff-8ec232bed041">Code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-body-tertiary">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-019148f5-d22e-43e9-b4df-d8f845a5a7b2" id="dom-019148f5-d22e-43e9-b4df-d8f845a5a7b2">
                            <!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-doughnut.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <canvas class="max-w-100" id="chartjs-doughnut-chart" width="350"></canvas>
                        </div>
                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-80a6b158-02de-4470-acff-8ec232bed041" id="dom-80a6b158-02de-4470-acff-8ec232bed041">
                            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-doughnut.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js--&gt;
&lt;canvas class=&quot;max-w-100&quot; id=&quot;chartjs-doughnut-chart&quot; width=&quot;350&quot;&gt;&lt;/canvas&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto align-self-center">
                            <h5 class="mb-0" data-anchor="data-anchor">Pie Chart</h5>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-a73f98c7-07b1-44ba-9b38-eea040d8d6b4" type="button" role="tab" aria-controls="dom-a73f98c7-07b1-44ba-9b38-eea040d8d6b4" aria-selected="true" id="tab-dom-a73f98c7-07b1-44ba-9b38-eea040d8d6b4">Preview</button>
                                <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-5f485111-10f8-42d0-81cd-dd84f8deb5dc" type="button" role="tab" aria-controls="dom-5f485111-10f8-42d0-81cd-dd84f8deb5dc" aria-selected="false" id="tab-dom-5f485111-10f8-42d0-81cd-dd84f8deb5dc">Code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-body-tertiary">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-a73f98c7-07b1-44ba-9b38-eea040d8d6b4" id="dom-a73f98c7-07b1-44ba-9b38-eea040d8d6b4">
                            <!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-pie.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <canvas class="max-w-100" id="chartjs-pie-chart" width="350"></canvas>
                        </div>
                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-5f485111-10f8-42d0-81cd-dd84f8deb5dc" id="dom-5f485111-10f8-42d0-81cd-dd84f8deb5dc">
                            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-pie.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js--&gt;
&lt;canvas class=&quot;max-w-100&quot; id=&quot;chartjs-pie-chart&quot; width=&quot;350&quot;&gt;&lt;/canvas&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto align-self-center">
                            <h5 class="mb-0" data-anchor="data-anchor">Polar Chart</h5>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-1769f20a-f304-443f-bcab-b7edfacef910" type="button" role="tab" aria-controls="dom-1769f20a-f304-443f-bcab-b7edfacef910" aria-selected="true" id="tab-dom-1769f20a-f304-443f-bcab-b7edfacef910">Preview</button>
                                <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-38a5179d-9d25-4a78-876e-dded67748bba" type="button" role="tab" aria-controls="dom-38a5179d-9d25-4a78-876e-dded67748bba" aria-selected="false" id="tab-dom-38a5179d-9d25-4a78-876e-dded67748bba">Code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-body-tertiary">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-1769f20a-f304-443f-bcab-b7edfacef910" id="dom-1769f20a-f304-443f-bcab-b7edfacef910">
                            <!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-polar.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <canvas class="max-w-100" id="chartjs-polar-chart" width="350"></canvas>
                        </div>
                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-38a5179d-9d25-4a78-876e-dded67748bba" id="dom-38a5179d-9d25-4a78-876e-dded67748bba">
                            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-polar.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js--&gt;
&lt;canvas class=&quot;max-w-100&quot; id=&quot;chartjs-polar-chart&quot; width=&quot;350&quot;&gt;&lt;/canvas&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto align-self-center">
                            <h5 class="mb-0" data-anchor="data-anchor">Radar Chart</h5>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-e642a6e5-ed06-4f70-adf9-b8d06142660b" type="button" role="tab" aria-controls="dom-e642a6e5-ed06-4f70-adf9-b8d06142660b" aria-selected="true" id="tab-dom-e642a6e5-ed06-4f70-adf9-b8d06142660b">Preview</button>
                                <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-232f67cf-2754-4ba6-82c8-ea3c7ed75d84" type="button" role="tab" aria-controls="dom-232f67cf-2754-4ba6-82c8-ea3c7ed75d84" aria-selected="false" id="tab-dom-232f67cf-2754-4ba6-82c8-ea3c7ed75d84">Code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-body-tertiary">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e642a6e5-ed06-4f70-adf9-b8d06142660b" id="dom-e642a6e5-ed06-4f70-adf9-b8d06142660b">
                            <!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-radar.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <canvas class="max-w-100" id="chartjs-radar-chart" width="350"></canvas>
                        </div>
                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-232f67cf-2754-4ba6-82c8-ea3c7ed75d84" id="dom-232f67cf-2754-4ba6-82c8-ea3c7ed75d84">
                            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-radar.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js--&gt;
&lt;canvas class=&quot;max-w-100&quot; id=&quot;chartjs-radar-chart&quot; width=&quot;350&quot;&gt;&lt;/canvas&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto align-self-center">
                            <h5 class="mb-0" data-anchor="data-anchor">Bubble Chart</h5>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-2b55184f-5370-4d8a-b275-bc263c9d8e2a" type="button" role="tab" aria-controls="dom-2b55184f-5370-4d8a-b275-bc263c9d8e2a" aria-selected="true" id="tab-dom-2b55184f-5370-4d8a-b275-bc263c9d8e2a">Preview</button>
                                <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-7dbfbcb3-f93f-4c81-837f-a3720d42fa17" type="button" role="tab" aria-controls="dom-7dbfbcb3-f93f-4c81-837f-a3720d42fa17" aria-selected="false" id="tab-dom-7dbfbcb3-f93f-4c81-837f-a3720d42fa17">Code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-body-tertiary">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-2b55184f-5370-4d8a-b275-bc263c9d8e2a" id="dom-2b55184f-5370-4d8a-b275-bc263c9d8e2a">
                            <!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-bubble.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <canvas class="max-w-100" id="chartjs-bubble-chart" height="200"></canvas>
                        </div>
                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-7dbfbcb3-f93f-4c81-837f-a3720d42fa17" id="dom-7dbfbcb3-f93f-4c81-837f-a3720d42fa17">
                            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-bubble.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js--&gt;
&lt;canvas class=&quot;max-w-100&quot; id=&quot;chartjs-bubble-chart&quot; height=&quot;200&quot;&gt;&lt;/canvas&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto align-self-center">
                            <h5 class="mb-0" data-anchor="data-anchor">Scatter Chart</h5>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-b72f7966-f3b9-4a4e-a4fa-f49a6453e3e7" type="button" role="tab" aria-controls="dom-b72f7966-f3b9-4a4e-a4fa-f49a6453e3e7" aria-selected="true" id="tab-dom-b72f7966-f3b9-4a4e-a4fa-f49a6453e3e7">Preview</button>
                                <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-a7230d68-e799-4083-a5ec-e6caca81985e" type="button" role="tab" aria-controls="dom-a7230d68-e799-4083-a5ec-e6caca81985e" aria-selected="false" id="tab-dom-a7230d68-e799-4083-a5ec-e6caca81985e">Code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-body-tertiary">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-b72f7966-f3b9-4a4e-a4fa-f49a6453e3e7" id="dom-b72f7966-f3b9-4a4e-a4fa-f49a6453e3e7">
                            <!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-scatter.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <canvas class="max-w-100" id="chartjs-scatter-chart" height="200"></canvas>
                        </div>
                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-a7230d68-e799-4083-a5ec-e6caca81985e" id="dom-a7230d68-e799-4083-a5ec-e6caca81985e">
                            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-scatter.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js--&gt;
&lt;canvas class=&quot;max-w-100&quot; id=&quot;chartjs-scatter-chart&quot; height=&quot;200&quot;&gt;&lt;/canvas&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto align-self-center">
                            <h5 class="mb-0" data-anchor="data-anchor">Combo Chart</h5>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-66504b08-5595-4bd7-8448-4505a3758458" type="button" role="tab" aria-controls="dom-66504b08-5595-4bd7-8448-4505a3758458" aria-selected="true" id="tab-dom-66504b08-5595-4bd7-8448-4505a3758458">Preview</button>
                                <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-f6bb4d2b-feb8-4fc5-828b-18cb64531ec2" type="button" role="tab" aria-controls="dom-f6bb4d2b-feb8-4fc5-828b-18cb64531ec2" aria-selected="false" id="tab-dom-f6bb4d2b-feb8-4fc5-828b-18cb64531ec2">Code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-body-tertiary">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-66504b08-5595-4bd7-8448-4505a3758458" id="dom-66504b08-5595-4bd7-8448-4505a3758458">
                            <!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-combo.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <canvas class="max-w-100" id="chartjs-combo-chart" width="1618" height="500"></canvas>
                        </div>
                        <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-f6bb4d2b-feb8-4fc5-828b-18cb64531ec2" id="dom-f6bb4d2b-feb8-4fc5-828b-18cb64531ec2">
                            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/chartjs/chart-combo.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js--&gt;
&lt;canvas class=&quot;max-w-100&quot; id=&quot;chartjs-combo-chart&quot; width=&quot;1618&quot; height=&quot;500&quot;&gt;&lt;/canvas&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendors/chart/chart.min.js"></script>

